<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<h1>Personal a modificar</h1>
	
		<form action="/insertarPersonal" method="post">
			<p>
				<b>Nombre:</b> <input type='text' name='nombre' value="${personal.nombre}"/>
			</p>
		    <p>
				<b>Apellidos:</b> <input type='text' name='apellidos' value="${personal.apellidos}"/>
			</p>
			<p>
				<b>Email:</b> <input type='text' name='fijo' value="${personal.email}"/>
			</p>
			<p>
				<b>Telf. Fijo:</b> <input type='text' name='fijo' value="${personal.fijo}"/>
			</p>
				
			<p>
				<b>Telf. Movil:</b> <input type='text' name='movil' value="${personal.movil}"/>
			</p>
			<select NAME=”tipo” value="${personal.tipo}">
				<option value=”gestion”>Gestión</option>
				<option value=”vigilancia”>Vigilancia</option>
				<option value=”conservacion”>Conservación</option>
				<option value=”investigacion”>Investigación</option>
			</select>
			
			<input type='submit' value='Enviar' />
			<a href="/" class="button">Volver</a>
	</form>
</body>
</html>